.demo-chart {
    height: 600px;
}

.zoomImage{
    display: block;
    max-width: 100px;
    height: 70px;
    background-size: cover;
    margin-left: auto;
    margin-right:auto;
    display:block;
    cursor: pointer;
}

.report-table {
    text-align: center;
}

