form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

mat-card {
    flex: 0 0 20em;
}

.button {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

span {
    margin: 0px 40px;
}

.upload-file {
    margin: 1px;
}

textarea {
    height: 70px;
}

img {
    display: block;
    max-width: 100%;
    height: 300px;
    background-size: cover;
}